@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Segoe UI';
    src: url('../src/assets/fonts/Segoe\ UI.woff');
}
.segoe {
    font-family: 'Segoe UI';
}
.style-module_simpleStarRating__nWUxf svg {
	display: inline !important;
}
